#weekly-achievement-graph {
  display: flex;
  flex-direction: column; /* 주별 row를 세로로 쌓음 */
  gap: 12px;
  width: 110px;
}

#weekly-label {
  margin-top: 20px;
}

/* 한 주 행 */
.week-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 막대 */
.bar {
  height: 20px;
  background-color: #4caf50;
  position: relative;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 8px;
}

/* 막대 안 % 표시 */
.label {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}