.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.897);
    border-bottom: 1px solid #eaeaea;
    z-index: 1000;
}

/* 로고 왼쪽 */
.nav-logo {
    justify-self: start;
    color: white;
    font-size: 30px;
}

/* 메뉴 중앙 */
.nav-menu {
    justify-self: center;
    display: flex;
    gap: 200px;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu a.active {
    color: white;
}

/* 오른쪽 여백 */
.nav-right {
    justify-self: end;
}