/* 전체 레이아웃 */
#todo-container {
  display: flex;
  gap: 24px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* 왼쪽 컬럼 */
#left-column {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 오른쪽 컬럼 */
#right-column {
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#calendarSet {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

#calendar {
  flex-shrink: 0; /* 캘린더 크기 유지 */
  margin-top: 41px;
}

#weeklyAchievement {
  width: 100%;
  min-width: 300px;
  height: 250px;
}

/* add todo */
#add-todo {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* daily todo */
#daily-todo {
    margin-top: 10px;
    width: 100%;
}

/* chart */
#chart {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}